---
title: การตรวจสอบการจ้างงาน การตรวจสอบ i9
description: 'การปฏิรูปการอพยพและบัญญัติควบคุมกำหนดให้นายจ้างของสหรัฐอเมริกาต้องตรวจสอบสถานะสิทธิ์การจ้างงานของพนักงานที่เพิ่งจ้างมาใหม่ '
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: josaw
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 4d7346507179d237f60459978b9b7c6351f48611
ms.sourcegitcommit: 0f530e5f72a40f383868957a6b5cb0e446e4c795
ms.translationtype: HT
ms.contentlocale: th-TH
ms.lasthandoff: 01/29/2019
ms.locfileid: "333334"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="55473-103">การตรวจสอบการจ้างงาน การตรวจสอบ i9</span><span class="sxs-lookup"><span data-stu-id="55473-103">Employment verification i9 verification</span></span>

[!include [task guide banner](../../../includes/task-guide-banner.md)]

<span data-ttu-id="55473-104">การปฏิรูปการอพยพและบัญญัติควบคุมกำหนดให้นายจ้างของสหรัฐอเมริกาต้องตรวจสอบสถานะสิทธิ์การจ้างงานของพนักงานที่เพิ่งจ้างมาใหม่ </span><span class="sxs-lookup"><span data-stu-id="55473-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="55473-105">ขั้นตอนนี้คุณจะต้องผ่านขั้นตอนของการบันทึกเอกสารจำเป็นสำหรับการยืนยัน I-9 </span><span class="sxs-lookup"><span data-stu-id="55473-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="55473-106">ใช้บริษัท USMF สำหรับขั้นตอนนี้</span><span class="sxs-lookup"><span data-stu-id="55473-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="55473-107">ไปที่ทรัพยากรบุคคล > ผู้ปฏิบัติงาน > พนักงาน</span><span class="sxs-lookup"><span data-stu-id="55473-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="55473-108">ใช้ตัวกรองข้อมูลด่วนเพื่อค้นหาเรกคอร์ด </span><span class="sxs-lookup"><span data-stu-id="55473-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="55473-109">เช่น กรองข้อมูลในฟิลด์ชื่อ ด้วยค่า 'Vince'</span><span class="sxs-lookup"><span data-stu-id="55473-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="55473-110">เลือกพนักงาน</span><span class="sxs-lookup"><span data-stu-id="55473-110">Select the employee.</span></span> <span data-ttu-id="55473-111">ตัวอย่าง: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="55473-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="55473-112">ขยายแท็บด่วนข้อมูลส่วนบุคคล</span><span class="sxs-lookup"><span data-stu-id="55473-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="55473-113">หมายเลขการยืนยันตัวตน</span><span class="sxs-lookup"><span data-stu-id="55473-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="55473-114">คลิก สร้าง</span><span class="sxs-lookup"><span data-stu-id="55473-114">Click New.</span></span>
7. <span data-ttu-id="55473-115">เลือกชนิดการยืนยันตัวตนที่คุณจะบันทึก </span><span class="sxs-lookup"><span data-stu-id="55473-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="55473-116">ตัวอย่าง: หนังสือเดินทาง</span><span class="sxs-lookup"><span data-stu-id="55473-116">Example: Passport</span></span>
8. <span data-ttu-id="55473-117">ในฟิลด์หมายเลข ให้พิมพ์ค่า</span><span class="sxs-lookup"><span data-stu-id="55473-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="55473-118">เลือก ใช่ ในฟิลด์หลัก</span><span class="sxs-lookup"><span data-stu-id="55473-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="55473-119">ในฟิลด์คำอธิบาย ป้อนชื่อและคำอธิบายสั้นๆ ของบันทึกการยืนยันตัวตน</span><span class="sxs-lookup"><span data-stu-id="55473-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="55473-120">ในหน่วยงานที่ออกเอกสารให้เลือกหน่วยงานที่ออกแบบฟอร์มการยืนยันตัวตนสำหรับผู้ปฏิบัติงาน </span><span class="sxs-lookup"><span data-stu-id="55473-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="55473-121">ตัวอย่าง: รัฐบาล</span><span class="sxs-lookup"><span data-stu-id="55473-121">Example: Government</span></span>
12. <span data-ttu-id="55473-122">ป้อนวันที่ที่หน่วยงานออกเอกสารแบบฟอร์มการยืนยันตัวตนสำหรับผู้ปฏิบัติงาน </span><span class="sxs-lookup"><span data-stu-id="55473-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="55473-123">ตัวอย่าง: 02/15/2011</span><span class="sxs-lookup"><span data-stu-id="55473-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="55473-124">ป้อนวันหมดอายุของแบบฟอร์มการยืนยันตัวตน </span><span class="sxs-lookup"><span data-stu-id="55473-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="55473-125">ตัวอย่าง: 2/15/2021</span><span class="sxs-lookup"><span data-stu-id="55473-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="55473-126">คลิก บันทึก</span><span class="sxs-lookup"><span data-stu-id="55473-126">Click Save.</span></span>
15. <span data-ttu-id="55473-127">ปิดหน้า</span><span class="sxs-lookup"><span data-stu-id="55473-127">Close the page.</span></span>
16. <span data-ttu-id="55473-128">คลิกแท็บการจ้างงาน</span><span class="sxs-lookup"><span data-stu-id="55473-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="55473-129">คลิก I-9</span><span class="sxs-lookup"><span data-stu-id="55473-129">Click I-9.</span></span>
18. <span data-ttu-id="55473-130">คลิก สร้าง</span><span class="sxs-lookup"><span data-stu-id="55473-130">Click New.</span></span>
19. <span data-ttu-id="55473-131">ในฟิลด์สิทธิ์การทำงาน ให้เลือกหนึ่งตัวเลือก</span><span class="sxs-lookup"><span data-stu-id="55473-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="55473-132">หากพนักงานไม่ได้เป็นพลเมืองหรือมีสัญชาติของสหรัฐอเมริกา คุณจะต้องป้อนหมายเลขคนต่างด้าวหรือหมายเลขการรับเข้าทำงานของพนักงานด้วย</span><span class="sxs-lookup"><span data-stu-id="55473-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="55473-133">เลือกตัวเลือกในกลุ่มรายการ A</span><span class="sxs-lookup"><span data-stu-id="55473-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="55473-134">รายการที่คุณเลือกจะขึ้นอยู่กับรูปแบบการยืนยันตนที่ผู้ปฏิบัติงานให้ไว้ </span><span class="sxs-lookup"><span data-stu-id="55473-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="55473-135">ผู้ปฏิบัติงานต้องให้เอกสารหนึ่งอย่างตามรายการ A หรือเอกสารหนึ่งอย่างจากรายการ B และ C. ตัวอย่างเช่น ถ้าผู้ปฏิบัติงานให้ passport ก็ควรจะเลือกรายการ A </span><span class="sxs-lookup"><span data-stu-id="55473-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="55473-136">อย่างไรก็ตาม ถ้าผู้ปฏิบัติงานให้ไว้เพียงแค่ใบขับขี่และบัตรประกันสังคม ก็จะต้องเลือกรายการ B และ C</span><span class="sxs-lookup"><span data-stu-id="55473-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="55473-137">ในฟิลด์ชนิดของเอกสาร I-9 ให้เลือกชนิดของเอกสารที่พนักงานให้ไว้</span><span class="sxs-lookup"><span data-stu-id="55473-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="55473-138">ในฟิลด์หมายเลขเอกสาร ให้ป้อนหรือเลือกค่า</span><span class="sxs-lookup"><span data-stu-id="55473-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="55473-139">คลิก บันทึก</span><span class="sxs-lookup"><span data-stu-id="55473-139">Click Save.</span></span>

